@media (min-width: 992px)
        {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        left: 0%;
    }}

        .sidebar ul.sidebar-menu {
    min-width: 250px;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;
}

        @media screen and (min-width: 992px)
{
.navbar-toolbar.navbar-expand-lg {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: transparent;
    padding: 0;
    border-top: 0;
    pointer-events: none;
}

.page-content {
    padding: 25px 25px;
    border-bottom-right-radius: 20px;
}


.sidebar .sidebar-brand {
    margin: 15px 0 0 !important;
    min-height: 60px;
}


}

        @media screen and (min-width: 768px)
{.navbar.navbar-top .navbar-toggler-css.sidebar-toggler {
    display: block;
    margin-left: 0;
    margin-right: 0px;
}}
       
            
            @media (min-width: 992px)
            {
.navbar-expand-lg .navbar-toggler {
    display: none !important;
}
}
            @media screen and (min-width: 992px){
.navbar.navbar-top.navbar-expand-lg .form-search .form-control, .navbar.navbar-top.navbar-expand-lg .form-search .btn, .navbar-toolbar.navbar-expand-lg .form-search .form-control, .navbar-toolbar.navbar-expand-lg .form-search .btn {
    background-color: #f5f5f5;
    border: 0;
    border-radius: 10px !important;
    font-weight: 300;
}}



@media screen and (min-width: 992px){

.navbar.navbar-top.navbar-expand-lg {
    height: 60px;
    padding: 0;
    border-top-right-radius: 20px;
}
}


.sidebar .sidebar-user {
    display: flex;
    align-items: center;
    padding: 20px 35px;
}

.sidebar .sidebar-user .user-name {
    display: block;
    margin: 0 10px 5px 0;
    font-weight: 600;
    color: #eee;
}

.badge.badge-dark {
    color: #fff;
    background-color: #0045ed;
    margin-right: 10px;
}

.badge {
    padding: 6px 11px;
    font-weight: 400;
    font-size: 11px;
}

.sidebar hr {
    border-top: 1px solid #2e3367;
    width: calc(100% - 30px);
    margin: 15px 0;
}

.sidebar ul.sidebar-menu li a {
    display: inline-block;
    width: calc(100% - 33px);
    text-decoration: none;
    position: relative;
    padding: 21px 8px;
    color: #d4d8ff;
    opacity: .9;
    margin: 0 15px;
}

.sidebar .sidebar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 66px;
    padding: 0;
    transition: all 100ms ease-in-out;
    overflow: hidden;
    color: #eee;
    font-weight: 500;
    border-radius: 0;
    margin: 0;
}

.sidebar .sidebar-brand .img, .sidebar .sidebar-brand .img-sm {
    display: none;
    width: auto;
    height: auto;
    margin-right: 43px;
    transition: all 100ms ease-in-out;
}

.mr20 {margin-right: 10px !important;}

.sidebar ul.sidebar-menu li a>i.fa {margin-left: 8px;}